.main-wrapper {
	width: 90%;
	margin: auto;
}
/* Main Colors */

.main-header {
	background: CADETBLUE;
}

.main-wrapper {
	background: white;
}

.main-logo {
	background: HOTPINK;
}

.nav-bar {
	background: CHARTREUSE;
}

.mainContent {
	background: PALEGOLDENROD;
}
.secondContent {
	background: SLATEBLUE;
}

footer {
	background: ORANGE;
}


/* Header */

.nav-bar {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navcontainer li {
	margin: 0 0 .2em 0;
}


.main-header {
	padding: 20px;
}

.main-logo a {
	text-decoration: none;
}

li a {
	text-decoration: none;
	list-style-type: none;


}

li {
	list-style-type: none;
}

ul {
	list-style-type: none;
	padding: 0;
	display: block;

}

.main-logo,
.nav-bar,
.nav-bar li {
	display: inline;
}
